{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">發起者</th>
                <th scope="col">議題</th>
                <th scope="col">詳細內容</th>
            </tr>
        </thead>
        <tbody>
            {% for session in object_list %}
            <tr>
                <th scope="row">{{ session.organizer }}</th>
                <th>{{ session.title }}</th>
                <th><a href="{% url 'session_detail' session.id %}" class="btn btn-info">明細</a></th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock  %}